<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatRoom</title>
</head>
<body>
  <h1>Chat Room</h1>

  <!--Message Display-->
  <div id="message_box" style="border:1px solid #ccc; padding: 10px; height: 300px; overflow-y: scroll;">
    <!--Prints all messages in messages array in app.py using a Flask loop-->
    {% for iv,  ciphertext, tag in messages %} 
        <p>{{decrypt_message(shared_secret, iv, ciphertext, tag)}}</p>
    {% endfor %}
  </div>

  <!--Message Input-->
  <!--Sends messages in form through POST to /send-->
  <form id="message_form" method="post" action="/send">
    <input type="text" name="message" placeholder="Type your message here" required>
    <button type="submit">Send</button>
  </form>
</body>
</html>